*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.calc-header{
    margin-bottom: 40px;
}
.calc-info{
    margin-bottom: 40px;
    min-width: 100px;
    max-width: 600px;
    text-align: center;
}

.input-handler{
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
.input-single{
    display: grid;
    min-width: 235px;
}
.input-single input{
    position: relative;
    font-family: 'Poppins';
    font-size: 1.5rem;
    padding: 10px 12px;
    min-width: 235px;
    height: 61px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    transition: .2s;
}
.input-single span{
    position: absolute;
    transform: translateX(10px) translateY(-50%);
    background: white;
    pointer-events: none;
    padding: 0 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: gray;
    font-size:.8rem;
    font-weight: bold;
    transition: .2s;
}
.input-single input:focus ~ span{
    border-left: 1px solid #f12424;
    border-right: 1px solid #f12424;
    color: #f12424;
}
.input-single input:focus{
    border: 1px solid #f12424;
}
.class-choose{
    display: flex;
    justify-content: space-around;
}
.car-class{
    margin: 0;
    height: 61px;
    width: 235px;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}
.class-choose span{
    position: absolute;
    font-size: .8rem;
    padding: 0 5px;
    background: white;
    pointer-events: none;
    transform: translateX(-225px) translateY(-50%);
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size:.8rem;
    font-weight: bold;
    color: gray;
}

.summ-btn{
    margin-bottom: 40px;
    padding: 20px 30px;
    border: 0;
    border-radius: 10px;
    background: #f12424;
    color: white;
    font-weight: 700;
    transition: .1s all;
}
.summ-btn:hover{
    background: #c21d1d;
}
.summ-btn:active{
    background: #851414;
}
#costs{
    width: 100%;
    display: flex;
    justify-content: center;
}
.summ-container{
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #fcfcfc;
    border: 1px solid gray;
}
.summ-single{
    display: flex;
    justify-content: space-between;
}
